*{
    margin: 0 ;/*deixa a margem esqueda e direita nula*/
padding: 0 ;/*deixa a margem superior e inferior nula*/
box-sizing: border-box; /*cria uma caixa invisivel para o corpo do site*/
}
.topo{
    background-color: azure;/*cor do fundo do topo do site*/
    height: 15vh; /*tamanho do corpo do site 15% da tela*/
}




